body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--dark);
  padding: 10px 15px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

label {
  margin-right: 10px;
}

span[role='img'] {
  cursor: default;
}

textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
}

.homeback {
  .css-selector {
    background: linear-gradient(311deg, #26d6a9, #55c3d2, #476296, #479096);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}}

.text {
  background-color: #00000075;
  padding: 50px;
  background-size: cover;
}

.contact {
  padding: 100px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.project {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 30px;
}

.project-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-text {
    color: var(--secondary);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
    z-index: 900;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.project-text:hover {
  background-color: var(--alpha);
  opacity: 1;
  border: 10px solid var(--secondary);
}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}
